@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

:root {
  --bg-header: #B72111;
  --button: #F86D60;
  --bg: white;
  --bg-start: #FDC0AB;
  --bg-description: #F86D60;
  --clr-border2: #610509;
  --bg-progress: #A6A6A8;
  --bg-social: #CDCDCD;
  --bg-footer: #F42D2D;
}

body {
  background-color: var(--bg);
  margin: 0px;
  padding: 0px;
  font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-header);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.headerPicture {
  border-radius: 18px;
  border: 10px solid var(--clr-border2);
  width: 300px;
}

.headerDescription {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 200;
  color: white;
}

button {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
  background: var(--button);
  padding: 15px 50px;
  border-radius: 10px;
  border-color: var(--clr-border2);
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.infoAbout {
  scroll-margin-top: 0px;
  width: 100%;
  height: 100vh;
  background: var(--bg-start);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.picture {
  margin-left: 50px;
  width: 250px;
  border-radius: 18px;
  border: 8px solid var(--clr-border2);
}

.titleProfile,
.titleAbout,
.title {
  font-size: 30px;
}

.nameProfile {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 72px;
}

.descriptionProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.titleAbout {
  text-align: center;
  color: black;
  margin: 0 auto;
}

.about {
  background: var(--bg-description);
  border-radius: 18px;
  border: 6px solid var(--clr-border2);
  width: 620px;
  height: 165px;
}

.description {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.complement {
  display: flex;
  justify-content: end;
}

.imgabout {
  margin-right: 50px;
  width: 230px;
}

.title {
  text-align: center;
  margin-top: 50px;
  color: black;
  font-weight: 600;
}

.progress {
  height: 500px;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
  gap: 20px;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.inner {
  height: 80px;
  width: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.percentage {
  font-weight: 60;
  color: #555;
  font-size: 20px;
}

.lenguage {
  font-weight: 600;
  color: #555;
  font-size: 25px;
}

.circleangular,
.circlehtml,
.circlecss,
.circlejs,
.circlec,
.circlejava,
.circlefireb {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
}

.circleangular svg circle {
  stroke: #DD0031;
  animation: animang 0.5s linear forwards;
}

.circlehtml svg circle {
  stroke: #E44D26;
  animation: animhtml 2s linear forwards;
}

.circlecss svg circle {
  stroke: #264DE4;
  animation: animcss 2s linear forwards;
}

.circlejs svg circle {
  stroke: #F7DF1E;
  animation: animjs 2s linear forwards;
}

.circlec svg circle {
  stroke: #00599C;
  animation: animc 2s linear forwards;
}

.circlejava svg circle {
  stroke: #5382A1;
  animation: animjava 2s linear forwards;
}

.circlefireb svg circle {
  stroke: #FFA713;
  animation: animfireb 2s linear forwards;
}

/* Progreso porcentaje en calculadora chrome: 450 - 450 * 0.10 <- porcentaje */

@keyframes animang {
  100% {
    stroke-dashoffset: 382;
  }
}

@keyframes animhtml {
  100% {
    stroke-dashoffset: 225;
  }
}

@keyframes animcss {
  100% {
    stroke-dashoffset: 270;
  }
}

@keyframes animjs {
  100% {
    stroke-dashoffset: 405;
  }
}

@keyframes animc {
  100% {
    stroke-dashoffset: 225;
  }
}

@keyframes animjava {
  100% {
    stroke-dashoffset: 337.5;
  }
}

@keyframes animfireb {
  100% {
    stroke-dashoffset: 427.5;
  }
}

svg {
  position: absolute;
  left: 0;
  margin-top: -98.5%;
  rotate: -90deg;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  margin-bottom: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 250px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: solid white;
}

.card:hover {
  box-shadow: rgba(227, 16, 16, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.name, .texts {
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: space-between;
}

.urls:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.iconGit {
  color: black;
  font-size: 28px;
}

.iconRedirect {
  color: #006AFF;
  font-size: 25px;
}

footer {
  background: var(--bg-footer);
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.titleContact {
  color: white;
  font-weight: 500;
}

.social {
  border: 2px solid var(--clr-border2);
  border-radius: 50px;
  background: var(--bg);
}

.itemSocial:hover {
  cursor: pointer;
  transition: all 250ms;
  transform: scale(1.2);
}

.itemSocial {
  font-size: 50px;
  margin: 20px;
}

.itemGh {
  color: black;
}

.itemIg {
  color: #C32AA3;
}

.itemCode {
  color: black;
}

.itemTlg {
  color: #2AB9F2;
}

@media (max-width: 1160px) {
  .picture {
    width: 180px;
  }
  .nameProfile {
    font-size: 20px;
    margin-left: 5%;
  }
  .titleAbout {
    font-size: 25px;
  }
  .about {
    width: 475px;
    height: 130px;
  }
  .description {
    font-size: 18px;
  }
  .imgabout{
    width: 150px;
  }
  .footer {
    width: 90%;
  }
}
 
@media (max-width: 1039px) {
  .progress{
    width: 100%;
    height: 600px;
  }
}

@media (max-width: 850px) {
  .itemSocial{
    font-size: 45px;
    margin: 15px;
  }
}

@media (max-width: 770px) {
  .headerPicture {
    width: 200px;
  }
  .headerDescription {
    font-size: 25px;
    width: 70%;
  }
  .infoAbout {
    align-items: center;
  }
  .picture, .imgabout {
    margin: 0px;
  }
}

@media (max-width: 540px) {
  .about{
    width: 80%;
    height: 165px;
    overflow-y: scroll;
  }

  .progress{
    height: 750px;
    margin: 0 auto;
  }
}

@media (max-width: 340px) {
  .progress{
    height: 1300px;
    margin: 0 auto;
  }
}
