:root {
  --bg-header: #006600;
  --button: #92E27A;
  --bg: white;
  --bg-start: #B4FF9A;
  --bg-description: #92E27A;
  --clr-border2: #01371d;
  --bg-progress: #A6A6A8;
  --bg-footer: #005200;
}

body {
  background-color: var(--bg);
  margin: 0px;
  padding: 0px;
  font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-header);
}

html {
  scroll-behavior: smooth;
}

.headerContainer {
  max-width: 600px;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headerPicture {
  border-radius: 18px;
  border: 10px solid var(--clr-border2);
  width: 250px;
}

.headerDescription {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 200;
  color: white;
}

button {
  font-size: 20px;
  font-weight: 700;
  margin-top: 25px;
  background: var(--button);
  padding: 15px 50px;
  border-radius: 10px;
  border-color: var(--clr-border2);
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.infoAbout {
  scroll-margin-top: 0px;
  width: 100%;
  height: 100vh;
  background: var(--bg-start);
}

.picture {
  margin-top: 40px;
  margin-left: 100px;
  width: 250px;
  border-radius: 18px;
  border: 8px solid var(--clr-border2);
}

.titleProfile,
.title {
  font-size: 30px;
}

.nameProfile {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 120px;
}

.titleAbout {
  text-align: center;
  color: black;
}


.about {
  background: var(--bg-description);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 6px solid var(--clr-border2);
  width: 550px;
  margin: 5px auto;
}

.description {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.complement {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.imgabout {
  margin-right: 60px;
  width: 250px;
  border-radius: 18px;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: black;
  font-weight: 600;
}

.progress {
  height: 500px;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 50px;
  gap: 20px;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 160px;
  width: 160px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.inner {
  height: 80px;
  width: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.percentage {
  font-weight: 60;
  color: #555;
  font-size: 20px;
}

.lenguage {
  font-weight: 600;
  color: #555;
  font-size: 25px;
}

.circleangular,
.circlehtml,
.circlecss,
.circlejs,
.circlec,
.circlejava {
  fill: none;
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
}

.circleangular svg circle {
  stroke: red;
  animation: animang 0.5s linear forwards;
}

.circlehtml svg circle {
  stroke: darkred;
  animation: animhtml 2s linear forwards;
}

.circlecss svg circle {
  stroke: blue;
  animation: animcss 2s linear forwards;
}

.circlejs svg circle {
  stroke: yellow;
  animation: animjs 2s linear forwards;
}

.circlec svg circle {
  stroke: darkblue;
  animation: animc 2s linear forwards;
}

.circlejava svg circle {
  stroke: #12A2E7;
  animation: animjava 2s linear forwards;
}

@keyframes animang {
  100% {
    stroke-dashoffset: 427.5;
  }
}

@keyframes animhtml {
  100% {
    stroke-dashoffset: 315;
  }
}

@keyframes animcss {
  100% {
    stroke-dashoffset: 315;
  }
}

@keyframes animjs {
  100% {
    stroke-dashoffset: 405;
  }
}

@keyframes animc {
  100% {
    stroke-dashoffset: 225;
  }
}

@keyframes animjava {
  100% {
    stroke-dashoffset: 337.5;
  }
}

svg {
  position: absolute;
  left: 0;
  margin-top: -98.5%;
  rotate: -90deg;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  margin-bottom: 150px;
}

.card {
  text-align: center;
  width: 250px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: solid white;
}

.card:hover {
  box-shadow: rgba(227, 16, 16, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.image {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.name {
  margin: 5px auto;
}

.texts {
  margin: 10px auto;
  margin-bottom: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.urls:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.iconGit {
  color: black;
  font-size: 28px;
}

.iconRedirect {
  color: #006AFF;
  font-size: 25px;
}

footer {
  margin-top: auto;
  background: #4ea93b;
}

.footer {
  margin: 50px 500px 100px 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.titleContact {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: white;
  font-weight: 500;
}

.social {
  border: 2px solid var(--clr-border2);
  border-radius: 50px;
  background: #CDCDCD;
}

.itemSocial:hover {
  cursor: pointer;
  transition: all 250ms;
  transform: scale(1.2);
}

.itemSocial {
  font-size: 50px;
  margin: 20px;
}

.itemGh {
  color: black;
}

.itemIg {
  color: #C32AA3;
}

.itemCode {
  color: black;
}

.itemTlg {
  color: #2AB9F2;
}
